body {
  background-color: #C1E7E6;
  color: #000000;
  line-height: 1.5;
  font-size: 16px;
}

figcaption{
  font-style: italic;
  margin-bottom: 10px;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

h3{
  font-size: 18px;
}

p{
  margin: 10px 0;
}

nav {
  background-color: #000000;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #C1E7E6;
  font-weight: bold;
}

.author{
  font-style: italic;
  font-weight: bold;
}

.story-text{
  margin-top: 20px;
}
